<ion-app>
    <!-- <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <title>Menu</title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let u of users">
                        <ion-item [routerDirection]="'root'" [routerLink]="[u.url]">
                            <ion-label>{{ u.nombre }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
    </ion-split-pane> -->
    <ion-router-outlet></ion-router-outlet>
</ion-app>